apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "document-generator-service.fullname" . }}-sa
  namespace: {{ .Values.namespace }}
  {{- if .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
  {{- end }}
